RewriteEngine on

# Se l'applicazione non è nella directory radice
# Sostituisci /www con / se la tua applicazione è nella radice del dominio
RewriteBase /www

RewriteRule ^API/utenti/(\d+)/?$ utenti.php?id=$1 [L]
RewriteRule ^API/utenti/?$ utenti.php [L]
RewriteRule ^API/utenti/(\d+)/rosa/?$ rosa.php?id=$1 [L]
RewriteRule ^API/utenti/rosa/?$ rosa.php [L]

# Se la richiesta è per la directory radice
RewriteRule ^$ public/ [L]

# Se la richiesta è per un file o una directory esistente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
# Non reindirizzare la richiesta
RewriteRule ^ - [L]

# Se la richiesta è per un file o una directory che non esiste
RewriteRule ^(.*)$ public/index.php [L]
