RewriteEngine Off
RewriteBase /www/API/

# Reindirizzamento per DatiUtente.php con ID
RewriteRule ^utenti/(\d+)/?$ utenti.php?id=$1 [L]

# Reindirizzamento per DatiUtente.php
RewriteRule ^utenti/?$ utenti.php [L]

RewriteRule ^utenti/(\d+)/rosa/?$ rosa.php?id=$1 [L]


